<aside class="main-sidebar">
	<section class="sidebar">
	  <ul class="sidebar-menu" data-widget="tree">
	    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
	    <li><a href="/services"><i class="fa fa-cut"></i> <span>Services</span></a></li>
	    <li><a href="/gallery"><i class="fa fa-image"></i> <span>Gallery</span></a></li>
	    <li><a href="/users"><i class="fa fa-user"></i> <span>Customer</span></a></li>
	    <li><a href="/appointments"><i class="fa fa-clock-o"></i> <span>Appointments</span></a></li>
	  </ul>
	</section>
</aside>
