<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>TA Hair Salon Web App</title>
	
	  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/iCheck/all.css">
	  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
	  <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/bower_components/morris.js/morris.css">
	  <link rel="stylesheet" href="/css/AdminLTE.min.css">
	  <link rel="stylesheet" href="/css/skins/_all-skins.min.css">
  
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    </head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			{% include 'includes/header.twig' %}
			{% include 'includes/sidebar.twig' %}
			{% block main %}{% endblock %}
		</div>
    </body>
    
    <!-- jQuery 3 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/bower_components/raphael/raphael.min.js"></script>
<script src="/bower_components/morris.js/morris.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/plugins/iCheck/icheck.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>

  <script>
  $(function () {
    $('.select2').select2()
  });
  </script>
<script>
  $(document).ready(function () {

    $('.status').on('change', function(){
      var orderId = $(this).data('id');
      var statusId = $(this).val();
      $.ajax({
        url: '/orders/update/'+orderId+'/'+statusId,
        type: 'GET'
      })
    });

    $('.sidebar-menu').tree();
    if ( $('#line-chart').length > 0 ) {
      var line = new Morris.Line({
        element: 'line-chart',
        resize: true,
        data: [
          {y: '2011 Q1', item1: 2666},
          {y: '2011 Q2', item1: 2778},
          {y: '2011 Q3', item1: 4912},
          {y: '2011 Q4', item1: 3767},
          {y: '2012 Q1', item1: 6810},
          {y: '2012 Q2', item1: 5670},
          {y: '2012 Q3', item1: 4820},
          {y: '2012 Q4', item1: 15073},
          {y: '2013 Q1', item1: 10687},
          {y: '2013 Q2', item1: 8432}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        labels: ['Item 1'],
        lineColors: ['#3c8dbc'],
        hideHover: 'auto'
      });
    }
  });
  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })
</script>

</html>